.desktop .active{
    color:#FF4D31;
}

.mobile .active{
    background: #FF4D31;
    color:#fff;
}

nav ul.desktop li{
    font-weight: bold;
}

nav ul.desktop li:hover{
    color:#FF4D31;
}

nav ul.mobile li a{
    display: block;
    border-bottom:solid #a19898 1px;
    padding: 15px;
}

nav ul.mobile li a:hover{
    background: #FF4D31;
}


nav ul.mobile li:hover{
    color:white;
}
